@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
*, *::after, *::before{
  box-sizing: border-box;
  text-align: center;
}
body{
  margin: 0;
  font-family: calibri, sans-serif;
}
#navbar{
  text-align: right;
  background-color:#4d0019;
  height:30px;
  width:100%;
  position: fixed;
  top: 0;
  padding-top:10px;
  z-index: 1;
}
.nav-link{
  color:#bfbfbf;
  text-transform:uppercase;
  text-decoration:none;
  margin-left:1vw;
}
.nav-link::before, .nav-link::after{
  content:'\2022';
  margin: .5vw;
}
.nav-link:hover{
  color:white;
}
#welcome-section{
  font-size:1.5rem;
  background-image: url("img\\background-1.jpg");
  padding-top:40vh;
  height: 100vh;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
#welcome-md{
  font-weight: 800;
  letter-spacing: 2px;
}
h1{
  color:#F2B705;
}
.tech{
  background-color: #007399;
  margin-bottom: 10px;
  height: 30px;
  width: 130px;
  color: #d9d9d9;
}
.tech::before{
  content: "";
  display: block;
  background-color: #007399;
  width: 501px;
  height: 30px;
  position: absolute;
}
.tech::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #007399;
  position: relative;
  top:-29px;
  border-radius: 50%;
  z-index: -1;
}
#tech-left-first{
  animation: techs-appear-left .5s .5s both ease-in-out;
}
#tech-right-first{
  animation: techs-appear-right .5s .5s both ease-in-out;
}
#tech-left-second{
  animation: techs-appear-left .5s 1s both ease-in-out;
}
#tech-right-second{
  animation: techs-appear-right .5s 1s both ease-in-out;
}
#tech-left-third{
  animation: techs-appear-left .5s 1.5s both ease-in-out;
}
#tech-right-third{
  animation: techs-appear-right .5s 1.5s both ease-in-out;
}
.tech-left::before{
  left: -500px;
}
.tech-left::after{
  left: 115px;
  border-right: 1px solid #4d4d4d;
}
.tech-right::before{
  right: -500px;
}
.tech-right:after{
  right:15px;
  border-left: 1px solid #4d4d4d;
}
@keyframes techs-appear-left{
  from{
    transform: translateX(-150px);
  }
  to{
    transform: translateX(5vw);
  }
}
@keyframes techs-appear-right{
  from{
    transform: translateX(150px);
  }
  to{
    transform: translateX(-5vw);
  }
}
hr{
  background-color: #4d0019;
  margin: 0;
  height: 10px;
  border:none;
}
#projects{
  background: linear-gradient(90deg,white,#ffe6f2,#ffcce6, #cccccc, #8c8c8c, #666666);
  overflow: hidden;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
}
.row{
  width: 150px;
}
.row2{
  width: 150px;
  margin-left: -50px;
}
.dot{
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 15px;
}
.dot1{
  margin-left: -30px;
  animation: opacity 3s 0.5s both infinite ease-in-out;
}
.dot2{
  margin-left: 50px;
  animation: opacity 3s 1s both infinite ease-in-out;
}
.dot3{
  margin-left: -10px;
  animation: opacity 3s 1.5s both infinite ease-in-out;
}
.dot4{
  margin-left: 30px;
  animation: opacity 3s 2.5s both infinite ease-in-out;
}
.dot5{
  margin-left: 70px;
  animation: opacity 3s 3s both infinite ease-in-out;
}
.dot6{
  animation: opacity 3s 2.2s both infinite ease-in-out;
}
.dot7{
  margin-left: 40px;
  animation: opacity 3s 0.8s both infinite ease-in-out;
}
.dot8{
  margin-left: -20px;
  animation: opacity 3s 1.2s both infinite ease-in-out;
}
.dot9{
  margin-left: 30px;
  animation: opacity 3s 2s both infinite ease-in-out;
}
.dot10{
  margin-left: 5px;
  animation: opacity 3s 1.7s both infinite ease-in-out;
}
@keyframes opacity{
  0%{
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}
.invisible{
  opacity: 0;
}
aside{
  width: 915px;
  margin: 20px auto auto 150px;
  text-align: center;
  color: black;
  position: absolute;
  right: 10px;
}
h3{
  letter-spacing: 2px;
}
#container{
  display: flex;
}
img{
  padding: 2px;
  border-radius: 20px;
}
.visible-sm{
  display: none;
}
.hover{
  opacity: 0.5;
}
footer{
  display:flex;
  justify-content:space-between;
  color:white;
  background-color:#4d0019;
  height: 30px;
  align-items: center;
  position: fixed;
  bottom:0;
  z-index: 1;
  padding: .5vw;
  width: 100%;
}
footer a{
  color:white;
}
.profile-link{
  font-size: 1.2em;
  margin-left: .5em;
}
.visible-xs{
  display: none;
}
@media(max-width: 942px){
  #projects{
    height:auto;
  }
  aside{
    width: 100%;
    margin: auto;
      right: 0px;
  }
  .visible-lg{
    display: none;
  }  
  .visible-sm{
    display: inherit;
  }
}
@media(max-width: 767px){
  #welcome-section{
    flex-wrap: wrap;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  #welcome{
    width: 100%;
  }
  footer{
    flex-direction: column;
    align-items: center;
    height: 50px;
  }
  .visible-xs{
    display: block;
  }
  .visible-md{
    display: none;
  }
}
@media(max-width: 605px){
  #projects{
    background: linear-gradient(90deg,white,#ffe6f2,#ffcce6, #cccccc, #8c8c8c);
    padding-top: 0;
    padding-bottom: 50px;
    margin-bottom: 30px;
    min-height: 0;
  }
  .row,.row2{
    display: none;
  }
  .dot{
    display: none;
  }
  aside{
    font-size: .8em;
    position: relative;
  }
}
@media(max-width: 350px){
  #welcome-section{
    flex-direction: column;
  }
  .tech-right::before{
    left: -500px;
  }
  .tech-right::after{
    left: 115px;
    border-right: 1px solid #4d4d4d;
    border-left: none;
  }
  #tech-right-first{
    animation: techs-appear-left .5s 2s both ease-in-out;
  }
  #tech-right-second{
    animation: techs-appear-left .5s 2.5s both ease-in-out;
  }
  #tech-right-third{
    animation: techs-appear-left .5s 3s both ease-in-out;
  }
  #projects{
    background: linear-gradient(90deg,#ffe6f2,#ffcce6, #cccccc);
  }
  .tile{
    width: 80%
  }
}