*{
  box-sizing: border-box;
  text-align: center;
}
body{
  margin: 0;
  font-family: calibri, sans-serif;
  color:#333333;
  overflow-x: hidden;
}
#navbar{
  text-align: right;
  background-color:#4d0019;
  height:30px;
  width:100%;
  position: fixed;
  top: 0;
  padding-top:10px;
  z-index: 5;
}
.nav-link{
  color:#bfbfbf;
  text-transform:uppercase;
  text-decoration:none;
  margin-left:1vw;
}
.nav-link::before, .nav-link::after{
  content:'\2022';
  margin: .5vw;
}
.nav-link:hover{
  color:white;
}
#welcome-section{
  font-size:1.5rem;
  background-color:#F2B705;
  padding-top:40vh;
  height: 100vh;
  min-height: 220px;
}
#welcome{
  position: absolute;
  width: 100%;
  z-index: 4;
}
#left-arrow{
  height: 100vh;
  min-height: 220px;
  width:25vw;
  background-color: #506AD4;
  position: absolute;
  top:0;
}
#left-arrow::after{
  content: "";
  height: 100vh;
  min-height: 220px;
  width:100vh;
  transform: rotate(45deg);
  background-color: #506AD4;
  position: absolute;
  left: 0;
  z-index: 1;
}
#right-arrow{
  height: 100vh;
  min-height: 220px;
  width:25vw;
  background-color: #506AD4;
  position: absolute;
  top:0;
  right:0;
}
#right-arrow::after{
  content: "";
  height: 100vh;
  min-height: 220px;
  width:100vh;
  transform: rotate(45deg);
  background-color: #506AD4;
  position: absolute;
  right: 0;
  z-index: 1;
}
.left-side{
  width: 30vw;
  background-color: #A3CDD9;
  z-index: 7;
  position: absolute;
  top:0;
  left:0;
}
#projects{
  color:white;
  font-size: 1.5rem;
  background-color: gray; 
  padding-top:10px;
  z-index: 3;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}
#project-tiles{
  display:flex;
  justify-content: center;
}
.project-tile{
  margin: auto 5px;
  padding: 3px;
  border-radius: 3px;
  height: 503px;
  opacity: .8;
}
.project-tile:hover{
  background-color:#515151;
  opacity: 1;
}
footer{
  display:flex;
  justify-content:space-between;
  color:white;
  background-color:#4d0019;
  padding:2vh;
  position: fixed;
  bottom:0;
  width:100%;
  z-index: 5;
}
footer a{
  color:white;
}
@media(max-width: 767px){
  #project-tiles,footer{
    flex-direction: column;
    align-items: center;
  }
  #projects{
    height:auto;
    padding:40px;
  }
}