@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
*{
  box-sizing: border-box;
  text-align: center;
}
body{
  margin: 0;
  font-family: calibri, sans-serif;
  color:#333333;
  overflow-x: hidden;
}
#navbar{
  text-align: right;
  background-color:#4d0019;
  height:30px;
  width:100%;
  position: fixed;
  top: 0;
  padding-top:10px;
  z-index: 1;
}
.nav-link{
  color:#bfbfbf;
  text-transform:uppercase;
  text-decoration:none;
  margin-left:1vw;
}
.nav-link::before, .nav-link::after{
  content:'\2022';
  margin: .5vw;
}
.nav-link:hover{
  color:white;
}
#welcome-section{
  font-size:1.5rem;
  background-color:#F2B705;
  padding-top:40vh;
  height: 100vh;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
}
.tech{
  background-color: #506AD4;
  margin-bottom: 10px;
  height: 30px;
  width: 130px;
}
.tech::before{
  content: "";
  display: block;
  background-color: #506AD4;
  width: 501px;
  height: 30px;
  position: absolute;
}
.tech::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #506AD4;
  position: relative;
  top:-29px;
  border-radius: 50%;
}
#tech-left-first{
  animation: techs-appear-left .5s .5s both ease-in-out;
}
#tech-right-first{
  animation: techs-appear-right .5s .5s both ease-in-out;
}
#tech-left-second{
  animation: techs-appear-left .5s 1s both ease-in-out;
}
#tech-right-second{
  animation: techs-appear-right .5s 1s both ease-in-out;
}
#tech-left-third{
  animation: techs-appear-left .5s 1.5s both ease-in-out;
}
#tech-right-third{
  animation: techs-appear-right .5s 1.5s both ease-in-out;
}
.tech-left::before{
  left: -500px;
}
.tech-left::after{
  left: 115px;
}
.tech-right::before{
  right: -500px;
}
.tech-right:after{
  right:15px;
}
@keyframes techs-appear-left{
  from{
    transform: translateX(-150px);
  }
  to{
    transform: translateX(5vw);
  }
}
@keyframes techs-appear-right{
  from{
    transform: translateX(150px);
  }
  to{
    transform: translateX(-5vw);
  }
}
#projects{
  color:white;
  font-size: 1.5rem;
  background-color: gray; 
  padding-top:10px;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}
#project-tiles{
  display:flex;
  justify-content: center;
}
.project-tile{
  margin: auto 5px;
  padding: 5px;
  height: auto;
}
img{
  max-width: 100%;
  border-radius: 5px;
  opacity: .8;
}
img:hover{
  box-shadow: 0 0 2em gold;
  opacity: 1;
}
footer{
  display:flex;
  justify-content:space-between;
  color:white;
  background-color:#4d0019;
  height: 30px;
  align-items: center;
  position: fixed;
  bottom:0;
  width:100%;
  z-index: 1;
  padding: .5vw;
}
footer a{
  color:white;
}
.profile-link{
  font-size: 1.2em;
  margin-left: .5em;
}
.visible-xs{
  display: none;
}
@media(max-width: 991px){
  #project-tiles{
    flex-direction: column;
    align-items: center;
  }
  #projects{
    height:auto;
    padding:40px;
  }
}
@media(max-width: 767px){
  #welcome-section{
    flex-wrap: wrap;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  #welcome{
    width: 100%;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
  .visible-xs{
    display: block;
  }
  .visible-md{
    display: none;
  }
}
@media(max-width: 350px){
  #welcome-section{
    flex-direction: column;
  }
  .tech-right::before{
    left: -500px;
  }
  .tech-right::after{
    left: 115px;
  }
  #tech-right-first{
    animation: techs-appear-left .5s 2s both ease-in-out;
  }
  #tech-right-second{
    animation: techs-appear-left .5s 2.5s both ease-in-out;
  }
  #tech-right-third{
    animation: techs-appear-left .5s 3s both ease-in-out;
  }
}